<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
  <ul>
    <li>
      <a href="/game/:choice1/:choice2">Home</a>
    </li>
    <li>
      <a href="/about_us">About Us</a>
    </li>
  </ul>
</html>
